<aside>
  <a href="javascript:void(0)" (click)="nav(1)" [ngStyle]="{'color':status=='true?white:black'}"><i class="fa-solid fa-book"></i>
    Books
  </a>
  <a href="javascript:void(0)" (click)="nav(2)"><i class="fa-solid fa-users"></i>
    Users
  </a>
  <a href="javascript:void(0)" (click)="nav(3)"><i class="fa-solid fa-address-book"></i>
     Book Requests
  </a>
  <a href="javascript:void(0)" (click)="nav(4)"><i class="fa-solid fa-address-book"></i>
    Borrowed Books
  </a>
  <a href="javascript:void(0)" (click)="nav(5)"><i class="fa-solid fa-square-poll-vertical"></i>
    Not Returned Books 
  </a>
  <a href="javascript:void(0)" (click)="nav(6)"><i class="fa-solid fa-square-poll-vertical"></i>
    Books Status 
  </a>
  <a href="javascript:void(0)" (click)="nav(7)"><i class="fa-solid fa-square-poll-vertical"></i>
    Book Records 
  </a>
</aside>
