<header class="bar">
    <span class="lib" id="logo"><a href="javascript:void(0)" routerLink="/"><i class="fa-solid fa-book-open-reader"></i>  Library</a></span>
    <ul>
        <li class="lib lib1" ><span class="ti"><i class="fa-solid fa-circle-user"></i></span><span><p>&nbsp; Hi! {{name}}</p></span></li>
        <li class="lib lib2"><a  href="javascript:void(0);" (click)="logout()" >Logout</a></li>
    </ul>
</header>

<!-- <i class="fa-solid fa-book-open-reader"></i> -->
<!-- <i class="bi bi-book"> -->
